<div>
  <img id="image1" src="./image1.jpg">
</div>

<section>
  <ul>
    <li>Student at Ada Developers' Academy</li>
      <p id="daycount">* Currently on day <%= @days_at_ada %> of 365</p>
    <li>A companion of the Doctor</li>
    <li>Seattle Seahawks fan</li>
    <li>Parent to puppy dog, Fiona</li>
  </ul>
</section>

<section>
  <table>
    <thead>
      <th colspan="4">
      </th>
      <tr>
        <td id="ada">
          <a href="https://adadevelopersacademy.org"><img src="AdaLogo.png" width="200" height="100"></a>
        </td>
        <td id="fiona">
          <a href="http://www.dogtemperament.com/wp-content/uploads/2012/12/maltipoo-3.jpg"><img src="fiona.png" width="150" height="100"></a>
        </td>
        <td class="dwsh">
          <a href="http://www.bbc.co.uk/programmes/b006q2x0"><img src="dw.jpg" width="100" height="100"></a>
        </td>
        <td>
          <a href="http://www.seahawks.com/"><img src="seahawks.jpg" width="100" height="100"></a>
        </td>
      </tr>
    </thead>
  </table>
</section>
