<html>
  <head>
    <title>"Meighs' Page"</title>
    <meta name="viewport" content="width=device width">
  </head>
  <body>
    <header>
      <center>
      <h1>About Me</h1>
      <p>Here's some stuff you should know about me...</p>
      <img src="./image1.jpg" width="200" height="150">
      </center>
    </header>
    <br>

    <nav>
      <center>
      <a href="./index.html">Main Page</a>
      <a href="./projects.html">My Projects</a>
      <a href="./blog.html">My Blog</a>
      <a href="./about.html">About Me</a>
      </center>
    </nav>
    <br>

    <section>
      <ul style="list-style: none;">
        <center>
        <li>Attend Ada Developers' Academy</li>
        <li>A companion of the Doctor</li>
        <li>Seattle Seahawks fan</li>
        <li>Have a puppy dog named Fiona</li>
        </center>
      </ul>
    </section>

    <section>
      <center>
      <table>
        <thead>
          <th colspan="4">
          </th>
          <tr>
            <td>
              <a href="https://adadevelopersacademy.org"><img src="AdaLogo.png" width="200" height="100"></a>
            </td>
            <td>
              <a href="http://www.dogtemperament.com/wp-content/uploads/2012/12/maltipoo-3.jpg"><img src="fiona.png" width="150" height="100"></a>
            </td>
            <td>
              <a href="http://www.bbc.co.uk/programmes/b006q2x0"><img src="dw.jpg" width="100" height="100"></a>
            </td>
            <td>
              <a href="http://www.seahawks.com/"><img src="seahawks.jpg" width="100" height="100"></a>
            </td>
          </tr>
        </thead>
      </table>
      </center>
      <br>
    </section>

    <footer>
      <center>Feel free to contact me!<br><br>
      <a href="http://www.facebook.com/meighan.rasley"><img alt="follow me on facebook" src="https://c866088.ssl.cf3.rackcdn.com/assets/facebook40x40.png" border=0></a>
      <a href="http://www.twitter.com/knaydee"><img alt="follow me on twitter" src="https://c866088.ssl.cf3.rackcdn.com/assets/twiiter40x40.png" border=0></a>
      <a href="https://google.com/+MeighanRasley"><img alt="follow me on google plus" src="https://c866088.ssl.cf3.rackcdn.com/assets/googleplus40x40.png" border=0></a>
      <a href="http://www.pinterest.com/meighanrasley"><img alt="follow me on pinterest" src="https://c866088.ssl.cf3.rackcdn.com/assets/pinterest40x40.png" border=0></a>
      <a href="http://github.com/knaydee"><img alt="follow me on github" src="githubsrc.png" height="40" width="40" border=0></a>
      </center>
    </footer>
  </body>
</html>
