<div>
  <img class="image3" src="http://sd.keepcalm-o-matic.co.uk/i/shut-up-and-listen-to-pearl-jam.png">
</div>

<section>
  <h3>Rainy Day Blog</h3>
  <h4>October 26th, 2015</h4>
  <p id="pblog">Rain, rain go away, come again another day.  JK!  I missed you...  I can now officially get into the Fall spirit.  Did you enjoy your vacation?  Where did you wander off to this time?  I heard you made a pit stop in South Carolina.  Got relatives there? Anyway, hope you stick around for a bit.</p>
</section>
