<div>
  <img class="image3" src="https://pbs.twimg.com/media/CF-buoUUgAAxYI-.jpg">
</div>

<section>
  <table>
    <thead>
      <tr>
        <th colspan="3">
          Current Projects
        </th>
      </tr>
      <tr>
        <th>
          Title
        </th>
        <th>
          Description
        </th>
        <th>
          Date Started
        </th>
      </tr>
    </thead>
    <tr>
      <td>
        <a href="https://storify.com/ggCarrotsUSA/geek-girls-carrots-seattle-demo-day">Code Carrots 2.0</a>
      </td>
      <td>
        Report It App
      </td>
      <td>
        April 2015
      </td>
    </tr>
    <tr>
      <td>
        Declutter
      </td>
      <td>
        Remove unwanted household items
      </td>
      <td>
        Eons ago
      </td>
    </tr>
    <tr>
      <td>
        This website
      </td>
      <td>
        Class project
      </td>
      <td>
        Today
      </td>
    </tr>
  </table>
</section>
