body {
  margin: 0 auto;
  width: 960px;
  font-family: 'Montserrat' sans-serif;
}

header {
  text-align: center;
  color: #333333;
  background-color: #679CBE;
  /*padding-bottom: 5px;*/
}

h1 {
  margin: 0;
}

h4 {
  font-style: italic;
}

#copyleft {
  text-align: left;
  font-size: 9px;
}

#pblog {
  text-align: left;
}

div {
  text-align: center;
  margin: 45px auto;
}

#image1 {
  height: 150px;
  width: 200px;
}

#image2 {
  height: 150px;
  width: 100px;
}

.image3 {
  height: 200px;
  width: 150px;
}

table {
  text-align: center;
  margin: 45px auto;
}

nav {
  text-align: center;
  padding-top: 10px;
}

footer {
  text-align: center;
  color: #333333;
  background-color: #679CBE;
  padding-top: 5px;
}

ul {
  list-style: none;
  text-align: center;
}
#ada {
  width: 200px;
  height: 100px;
}

#fiona {
  width: 150px;
  height: 100px;
}

.dwsh {
  width: 100px;
  height: 100px;
}

img:hover {
  -webkit-filter: grayscale(100%);
  -webkit-transition: .5s ease-in-out;
  transform: scale(1.1)
}

#mainheader {
  padding-bottom: 10px;
  font-size: 20px;
}
.bheader {
  border-bottom: 1px solid black;
  padding-bottom: 5px;
}

td {
  padding-top: 10px;
}

#daycount {
  font-size: 12px;
  text-align: center;
  margin: 0;
}
